




<mat-sidenav-container class="container">
    <!-- <mat-sidenav #sidebar mode='side' opened> -->
    <mat-sidenav #sidebar [mode]="screenWidth> 640 ? 'side' : 'over'" [opened]="screenWidth> 640">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">

                <!-- <mat-toolbar fxLayout="row wrap"> -->
                <mat-toolbar>
                    <mat-toolbar-row fxLayoutAlign="space-between center">
                        <!-- <mat-icon (click)="sidebar.toggle()">menu</mat-icon> -->
                        <mat-icon (click)="toggle()">menu</mat-icon>
                        <div >
                            <mat-icon>search</mat-icon>
                            <mat-icon>bookmark_border</mat-icon>
                            <mat-icon>mail_outline</mat-icon>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>

                <div class="main">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>