<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxFlex="100%"
  fxFlex.xs="100%"
  fxLayoutGap="10px"
>
  <mat-card class="mat-elevation-z8" fxFlex="98%">
    <mat-card-content>
      <form [formGroup]="produccionForm" (ngSubmit)="onFormSubmit()">
        <div>
          <div
            fxLayout="row wrap"
            fxFlex
            fxFlex.xs="100%"
            fxFlex.sm="100%"
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <div class="tbl1" fxFlex>
              <mat-form-field fxFlex>
                <mat-label>Order</mat-label>
                <mat-select
                  (selectionChange)="FillOrderDDL($event)"
                  formControlName="ordern"
                  matTooltip="Select a order"
                  autocomplete="off"
                  fxFlex
                >
                  <mat-option
                    *ngFor="let order of allOrder | async"
                    [value]="order.id"
                  >
                    <app-td-client-translator [clientId]="order.client">
                    </app-td-client-translator>  
                     | <app-td-tipo-bolsa-translator [tipoId]="order.tipo">
                    </app-td-tipo-bolsa-translator>
                     | {{ order.descr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="tbl1" fxFlex>
              <mat-form-field fxFlex>
                <input
                  formControlName="descr"
                  matTooltip="Enter Descr"
                  matInput
                  placeholder="descr"
                  autocomplete="off"
                />
              </mat-form-field>
              <mat-error>
                <span
                  *ngIf="
                    !produccionForm.get('descr').value &&
                    produccionForm.get('descr').touched
                  "
                ></span>
              </mat-error>
            </div>

           

            <div class="tbl1" fxFlex>
              <mat-form-field fxFlex>
                <input
                  fxFlex
                  formControlName="cantidad"
                  matTooltip="Enter Cantidad"
                  matInput
                  placeholder="Cantidad"
                  autocomplete="off"
                />
              </mat-form-field>
              <mat-error>
                <span
                  *ngIf="
                    !produccionForm.get('cantidad').value &&
                    produccionForm.get('cantidad').touched
                  "
                ></span>
              </mat-error>
            </div>

            <div class="tbl1" fxFlex>
              <mat-form-field fxFlex>
                <mat-label>Tipo</mat-label>
                <mat-select
                  (selectionChange)="FillTipoDDL($event)"
                  formControlName="tipo"
                  matTooltip="Select Tipo"
                  autocomplete="off"
                >
                  <mat-option
                    *ngFor="let tipo of allTipo | async"
                    [value]="tipo.id"
                  >
                    {{ tipo.descr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>



             <div class="tbl1" fxFlex>
                <mat-form-field>
                    <input 
                    [owlDateTime]="pickerinicio" 
                    [owlDateTimeTrigger]="pickerinicio"
                    placeholder="fecha inicio"
                    autocomplete="off" 
                    formControlName="inicio" 
                    matInput>
                   <owl-date-time #pickerinicio [startAt]="inicioDate"></owl-date-time>
                </mat-form-field>
                <mat-error>
                    <span
                      *ngIf="
                        !produccionForm.get('inicio').value &&
                        produccionForm.get('inicio').touched
                      "
                    ></span>
                  </mat-error>
                </div>
           <!--  <div class="tbl1" fxFlex>
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="pickerinicio"
                    matTooltip="Fecha inicio"
                    formControlName="inicio"
                    placeholder="inicio"
                    autocomplete="off"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerinicio"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerinicio></mat-datepicker>
                </mat-form-field>
                <mat-error>
                  <span
                    *ngIf="
                      !produccionForm.get('inicio').value &&
                      produccionForm.get('inicio').touched
                    "
                  ></span>
                </mat-error>
                </div> -->


                <div class="tbl1" fxFlex>
                    <mat-form-field>
                        <input 
                        [owlDateTime]="pickerfin" 
                        [owlDateTimeTrigger]="pickerfin"
                        placeholder="fecha fin"
                        autocomplete="off" 
                        formControlName="fin" 
                        matInput>
                       <owl-date-time #pickerfin></owl-date-time>
                    </mat-form-field>
                    <mat-error>
                        <span
                          *ngIf="
                            !produccionForm.get('fin').value &&
                            produccionForm.get('fin').touched
                          "
                        ></span>
                      </mat-error>
                    </div>

            <!-- <div class="tbl1" fxFlex>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="pickerfin"
                matTooltip="Fecha fin"
                formControlName="fin"
                placeholder="fin"
                autocomplete="off"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerfin"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerfin></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !produccionForm.get('fin').value &&
                  produccionForm.get('fin').touched
                "
              ></span>
            </mat-error>
            </div> -->

          </div>
        </div>

        <div>
          <div
            fxLayout="row wrap"
            fxFlex="70%"
            fxFlex.xs="100%"
            fxFlex.sm="100%"
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <button
              type="submit"
              mat-raised-button
              color="accent"
              matTooltip="Submit"
              [disabled]="!produccionForm.valid"
            >
              Submit
            </button>
            <button
              type="reset"
              mat-raised-button
              color="accent"
              matTooltip="Reset"
              (click)="resetForm()"
            >
              Reset
            </button>
          </div>
          <div>
            <p
              *ngIf="dataSaved"
              style="color: rgb(0, 128, 0); font-size: 20px; font-weight: bold"
              Class="success"
              align="left"
            >
              {{ massage }}
            </p>
          </div>
        </div>
        <br /><br />

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
        </mat-form-field>

        <button
          mat-icon-button
          aria-label="Example icon button with a delete icon"
          type="button"
          mat-raised-button
          color="accent"
          matTooltip="Delete"
          (click)="DeleteData()"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <div>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
          >
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th style="width: 25%" mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                ></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="ordern">
              <th
                style="width: 25%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Orden
              </th>
              <td mat-cell *matCellDef="let produccion">
                <app-td-order-translator
                  [orderId]="produccion.ordern"
                ></app-td-order-translator>
              </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th
                style="width: 25%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Tipo de Bolsa
              </th>
              <td mat-cell *matCellDef="let produccion">
                <app-td-tipo-bolsa-translator
                  [tipoId]="produccion.tipo"
                ></app-td-tipo-bolsa-translator>
              </td>
            </ng-container>

            
            <ng-container matColumnDef="cantidad">
              <th
                style="width: 25%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                No. cantidad
              </th>
              <td mat-cell *matCellDef="let produccion">{{ produccion.cantidad }}</td>
            </ng-container>

            <ng-container matColumnDef="descr">
              <th
                style="width: 25%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Descripcion
              </th>
              <td mat-cell *matCellDef="let produccion">{{ produccion.descr }}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th
                style="width: 25%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              ></th>
              <td mat-cell *matCellDef="let produccion">
                <button
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                  type="button"
                  mat-raised-button
                  color="accent"
                  matTooltip="Edit"
                  (click)="loadProduccionToEdit(produccion.id)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let produccion">
                <button
                  mat-icon-button
                  aria-label="Example icon button with a delete icon"
                  type="button"
                  mat-raised-button
                  color="accent"
                  matTooltip="Delete"
                  (click)="deleteProduccion(produccion.id)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  inicio
                </th>
                <td mat-cell *matCellDef="let produccion">
                  {{ produccion.inicio | date: "dd-MM-yyyy" }}
                </td>
              </ng-container>

            <ng-container matColumnDef="fin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                fin
              </th>
              <td mat-cell *matCellDef="let produccion">
                {{ produccion.fin | date: "dd-MM-yyyy" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              [ngClass]="{
                'make-terminado': row.estado === 2,
                'make-recogido': row.estado === 3
              }"
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
