

<!-- <mat-sidenav #sidebar [mode]="mode ? 'side' : 'over'" [opened]="mode"> -->

<div class="navbar">
    <!-- <div class="top">
        <mat-icon [inline]='true'>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://icon-library.com/images/admin-user-icon/admin-user-icon-4.jpg" alt="">
        <h4 class="name">admin</h4>
        <p class="mail">admin@gmail.com</p>
    </div> -->
    <div class="menu">
        <!-- <div class="menu-head">
            <span>dashboard</span>
        </div> -->
        <mat-nav-list class="menu-item">
            <a mat-list-item (click)="buttonClicked()" class="menu-button" [routerLink]="['/dashboard']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/orders']">
                <mat-icon>event</mat-icon>
                <span>Ordenes</span>
            </a>
            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/clients']">
                <mat-icon>supervisor_account</mat-icon>
                <span>Clientes</span>
            </a>
            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/tipos']">
                <mat-icon>shopping_bag</mat-icon>
                <span>Tipo de Bolsas</span>
            </a>

            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/estados']">
                <mat-icon>cached</mat-icon>
                <span>Estados</span>
            </a>

            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/inventories']">
                <mat-icon>pending_actions</mat-icon>
                <span>inventories</span>
            </a>

            <a mat-list-item (click)="buttonClicked()"  class="menu-button" [routerLink]="['/produccion']">
                <mat-icon>settings</mat-icon>
                <span>Produccion</span>
            </a>
            <!-- <button mat-button class="menu-button">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button> -->
        </mat-nav-list>
    </div>
    
</div>

